.bottom-bar {
  height: 4rem;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 0;
  text-align: center;
  > div {
    cursor: default;
    &:first-of-type {
      cursor: pointer;
    }
    width: 30%;
    color: #333;
    font-size: 12px;
  }
}
