.bottom-bar {
  height: 4rem;
  background: #fff;
  border: $grey 2px solid;
  border-right: none;
  border-left: none;
  margin-top: auto;
  > div {
    width: 70%;
    cursor: default;
    > div:first-of-type {
      cursor: pointer;
    }
    color: #333;
    font-size: 12px;
  }
}
