.add-event-card {
  min-width: 1100px !important;
  .shadowed {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .add-event-textarea {
    min-height: 14rem;
    .q-field__label {
      color: $linkcolor;
    }
  }
  .add-event-checkboxes {
    .q-checkbox__inner {
      color: $linkcolor;
    }
  }
}
