$input: #f1f1f1;
$color: #d7f5d7;
$background: #8bb48b;
$btnbg: #4d4d76;
$linkcolor: #1272cf;
$btncolor: white;
$bgcolor: black;

@mixin input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  background: $input;
}

body {
  font-family: Arial, sans-serif;
  background: $background;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding: 5rem;

  form {
    margin: 5% 30% 0;
  }

  p {
    margin: 1rem 0;
  }

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

input[type="text"] {
  @include input;

  &:focus {
    background-color: $color;
    outline: none;
  }
}

input[type="date"] {
  @include input;
  margin: 0;

  &:focus {
    background-color: $color;
    outline: none;
  }
}

select {
  @include input;
}

input[type="password"] {
  @include input;

  &:focus {
    background-color: $color;
    outline: none;
  }
}

button {
  background-color: $btnbg;
  color: $btncolor;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

label {
  .checkbox {
    margin-bottom: 1rem;
  }
}

.para {
  a {
    color: $linkcolor;
  }
}

// homepage
.top-bar {
  padding: 1rem;
  height: 4rem;
  color: $color;
  background-color: $bgcolor;
  color: $input;
  position: sticky;
  top: 0;
  z-index: 1;
  .btn {
    float: right;
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
  }
}
.home-detail {
  margin: 5% 30% 0;

  .grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    .grid-cell {
      padding: 10px;
      background-color: $color;
      margin: 0.5rem;
    }
  }
}
// lists
.table {
  border: 1px solid $bgcolor;
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  th {
    border: 1px solid $bgcolor;
    background-color: $bgcolor;
    padding: 1rem;
    color: $input;
  }

  td {
    border: 1px solid $bgcolor;
    padding: 0 1rem;

    .btn {
      padding: 0;
      width: 3rem;
      border-radius: 0.25rem;
      background-color: $input;
      color: $bgcolor;

      img {
        width: 2rem;
      }
    }
  }
}


// categorylist

.cate-list {
  margin-top: 1rem;
  .input{
    float: left;
    width: 94%;
   }
   .btnplus{
    float: left;
    width: 1.75rem;
   }
}
.submit {
  text-align: center;
}
.cate-list-home {
  margin-top: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: start;
  justify-self: center;
  @media (min-width: 768px) {
    &.chip-container {
      grid-column: 1/3;
      width: 75%;
    }
  }
  &.chip-container {
    > div {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    span {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 2px;
      font-size: 0.7rem;
      border-radius: 50%;
      background: #1272cf;
    }
  }
  label {
    text-align: left;
    font-size: 1rem;
    display: block;
  }
  span {
    padding-left: 2rem;
    font-size: 0.8rem;
  }
}
form.form.category-form {
  display: grid;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin: 5% 10% 0;
  }
  > * {
    border: 1px solid;
  }
}

.btn1 {
  justify-content: center;
  display: flex;
}

// eventlist
.eventlist {
  text-align: center;
  font-size: 1rem;
  .btn {
    margin-left: 12rem;
  }
}
// media quiry
@media screen and (max-width: 828px) {
  .container {
    padding: 0%;

    .form {
      margin: 5% 15% 0;

    }
    .home-detail {
      margin: 0 10% 0;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
