$input: #f1f1f1;
$color: #d7f5d7;
$background: #8bb48b;
$btnbg: #4d4d76;
$linkcolor: #233975;
$btncolor: white;
$bgcolor: black;
$grey: #c4c4c4;

.linkcolor {
  color: $linkcolor;
}
.bg-linkcolor {
  background: $linkcolor;
  color: #fff;
}

// Font Family
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./components/__utilities";
@import "./components/__header";
@import "./components/__qCard";
@import "./components/__table-container";
@import "./components/__termsAndConditions";
@import "./components/__home";
@import "./components/__eventList";
@import './components/__bottomBar';

body::after {
  content: "";
  @media (min-width: 850px) {
    background-image: url(../assets/bg-img.jpg);
  }
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}
ul {
  list-style-type: none;
}

.q-tab-panels {
  background-color: transparent;
}
.termsLink {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

form.form {
  padding-top: 4rem !important;
}

.admin-tabs {
  .q-tab {
    @extend .add-border;
  }
}


.img-card {
  margin-bottom: 2rem;
  width: 30%;
  min-height: 150px;
  max-height: 150px;
  width: 32%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &.select-img {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 200ms;
    &:hover {
      background: rgba(120, 120, 139, 0.2);
    }
  }
  > img {
    max-height: 150px;
    max-width: 100%;
  }
}
.q-dialog {
  .q-card {
    margin-left: auto !important;
    margin-right: auto !important;
    max-height: 97vh !important;
    min-height: 0 !important;
  }
}


